## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [30]:
import pandas as pd
import numpy as np

In [31]:

weather = pd.read_csv('../weather-raw.csv', sep=',')
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
"""for col in weather.columns:
    print(weather[col].value_counts())
#weather.dtypes"""

'for col in weather.columns:\n    print(weather[col].value_counts())\n#weather.dtypes'

In [33]:
#on peut supprimer les colonnes Id et Year car c'est la mÃªme info qui est contenue Ã  chaque fois. 
#on retient qu'il s'agit de donnÃ©es relevÃ©es Ã  la station ayant l'identifiant MX17004 en 2010.
weather=weather.drop(columns=['id', 'year'])
weather.head()

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
weather=pd.melt(weather,id_vars=['month','element'])
weather.head()

   month element variable  value
0      1    tmax       d1    NaN
1      1    tmin       d1    NaN
2      2    tmax       d1    NaN
3      2    tmin       d1    NaN
4      3    tmax       d1    NaN

In [23]:
weather=weather.rename(columns={'value':'temp'})
weather=weather.rename(columns={'variable':'day'})
weather['month_day'] = 'M' +weather['month'].map(str) + '-' + weather['day'].map(str)

In [29]:

weather
#piv=weather.pivot(index='month_day',columns='element',values='temp')
#piv

     month element  day       temp month_day
0        1    tmax   d1  21.921212     M1-d1
1        1    tmin   d1  21.921212     M1-d1
2        2    tmax   d1  21.921212     M2-d1
3        2    tmin   d1  21.921212     M2-d1
4        3    tmax   d1  21.921212     M3-d1
5        3    tmin   d1  21.921212     M3-d1
6        4    tmax   d1  21.921212     M4-d1
7        4    tmin   d1  21.921212     M4-d1
8        5    tmax   d1  21.921212     M5-d1
9        5    tmin   d1  21.921212     M5-d1
10       6    tmax   d1  21.921212     M6-d1
11       6    tmin   d1  21.921212     M6-d1
12       7    tmax   d1  21.921212     M7-d1
13       7    tmin   d1  21.921212     M7-d1
14       8    tmax   d1  21.921212     M8-d1
15       8    tmin   d1  21.921212     M8-d1
16      10    tmax   d1  21.921212    M10-d1
17      10    tmin   d1  21.921212    M10-d1
18      11    tmax   d1  21.921212    M11-d1
19      11    tmin   d1  21.921212    M11-d1
20      12    tmax   d1  29.900000    M12-d1
21      12    tmin   d1  13.800000    M12-d1
22       1    tmax   d2  21.921212     M1-d2
23       1    tmin   d2  21.921212     M1-d2
24       2    tmax   d2  27.300000     M2-d2
25       2    tmin   d2  14.400000     M2-d2
26       3    tmax   d2  21.921212     M3-d2
27       3    tmin   d2  21.921212     M3-d2
28       4    tmax   d2  21.921212     M4-d2
29       4    tmin   d2  21.921212     M4-d2
..     ...     ...  ...        ...       ...
652      8    tmax  d30  21.921212    M8-d30
653      8    tmin  d30  21.921212    M8-d30
654     10    tmax  d30  21.921212   M10-d30
655     10    tmin  d30  21.921212   M10-d30
656     11    tmax  d30  21.921212   M11-d30
657     11    tmin  d30  21.921212   M11-d30
658     12    tmax  d30  21.921212   M12-d30
659     12    tmin  d30  21.921212   M12-d30
660      1    tmax  d31  21.921212    M1-d31
661      1    tmin  d31  21.921212    M1-d31
662      2    tmax  d31  21.921212    M2-d31
663      2    tmin  d31  21.921212    M2-d31
664      3    tmax  d31  21.921212    M3-d31
665      3    tmin  d31  21.921212    M3-d31
666      4    tmax  d31  21.921212    M4-d31
667      4    tmin  d31  21.921212    M4-d31
668      5    tmax  d31  21.921212    M5-d31
669      5    tmin  d31  21.921212    M5-d31
670      6    tmax  d31  21.921212    M6-d31
671      6    tmin  d31  21.921212    M6-d31
672      7    tmax  d31  21.921212    M7-d31
673      7    tmin  d31  21.921212    M7-d31
674      8    tmax  d31  25.400000    M8-d31
675      8    tmin  d31  15.400000    M8-d31
676     10    tmax  d31  21.921212   M10-d31
677     10    tmin  d31  21.921212   M10-d31
678     11    tmax  d31  21.921212   M11-d31
679     11    tmin  d31  21.921212   M11-d31
680     12    tmax  d31  21.921212   M12-d31
681     12    tmin  d31  21.921212   M12-d31

[682 rows x 5 columns]

In [36]:
#piv.fillna(piv.mean(), inplace=True)
piv.fillna(method='bfill', inplace=True)

piv

element         tmax       tmin
month_day
M1-d1      29.190909  14.651515
M1-d10     29.190909  14.651515
M1-d11     29.190909  14.651515
M1-d12     29.190909  14.651515
M1-d13     29.190909  14.651515
M1-d14     29.190909  14.651515
M1-d15     29.190909  14.651515
M1-d16     29.190909  14.651515
M1-d17     29.190909  14.651515
M1-d18     29.190909  14.651515
M1-d19     29.190909  14.651515
M1-d2      29.190909  14.651515
M1-d20     29.190909  14.651515
M1-d21     29.190909  14.651515
M1-d22     29.190909  14.651515
M1-d23     29.190909  14.651515
M1-d24     29.190909  14.651515
M1-d25     29.190909  14.651515
M1-d26     29.190909  14.651515
M1-d27     29.190909  14.651515
M1-d28     29.190909  14.651515
M1-d29     29.190909  14.651515
M1-d3      29.190909  14.651515
M1-d30     27.800000  14.500000
M1-d31     29.190909  14.651515
M1-d4      29.190909  14.651515
M1-d5      29.190909  14.651515
M1-d6      29.190909  14.651515
M1-d7      29.190909  14.651515
M1-d8      29.190909  14.651515
...              ...        ...
M8-d10     29.190909  14.651515
M8-d11     29.190909  14.651515
M8-d12     29.190909  14.651515
M8-d13     29.800000  16.500000
M8-d14     29.190909  14.651515
M8-d15     29.190909  14.651515
M8-d16     29.190909  14.651515
M8-d17     29.190909  14.651515
M8-d18     29.190909  14.651515
M8-d19     29.190909  14.651515
M8-d2      29.190909  14.651515
M8-d20     29.190909  14.651515
M8-d21     29.190909  14.651515
M8-d22     29.190909  14.651515
M8-d23     26.400000  15.000000
M8-d24     29.190909  14.651515
M8-d25     29.700000  15.600000
M8-d26     29.190909  14.651515
M8-d27     29.190909  14.651515
M8-d28     29.190909  14.651515
M8-d29     28.000000  15.300000
M8-d3      29.190909  14.651515
M8-d30     29.190909  14.651515
M8-d31     25.400000  15.400000
M8-d4      29.190909  14.651515
M8-d5      29.600000  15.800000
M8-d6      29.190909  14.651515
M8-d7      29.190909  14.651515
M8-d8      29.000000  17.300000
M8-d9      29.190909  14.651515

[341 rows x 2 columns]