# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [68]:
# import numpy and pandas
from scipy import stats
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [16]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [17]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [18]:
# Your code here:
for x in salaries:
    missing = salaries[x].value_counts().isnull().count()
    print("Column's name:",x ,' => nb of missing data :', missing)

Column's name: Name  => nb of missing data : 32880
Column's name: Job Titles  => nb of missing data : 1111
Column's name: Department  => nb of missing data : 35
Column's name: Full or Part-Time  => nb of missing data : 2
Column's name: Salary or Hourly  => nb of missing data : 2
Column's name: Typical Hours  => nb of missing data : 4
Column's name: Annual Salary  => nb of missing data : 1000
Column's name: Hourly Rate  => nb of missing data : 167

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:
#Salary or Hourly
salary_count = salaries['Salary or Hourly'].loc[salaries['Salary or Hourly']=='Salary'].count()
hourly_count = salaries['Salary or Hourly'].loc[salaries['Salary or Hourly']=='Hourly'].count()
salary_count, hourly_count

(25161, 8022)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [20]:
# Your code here:
Department = set(salaries['Department'])
for d in Department :
    count_employees = salaries['Name'].loc[salaries['Department']==d].count()
    print(d,',',count_employees)

FINANCE , 560
BOARD OF ETHICS , 8
PROCUREMENT , 92
HUMAN RELATIONS , 16
HEALTH , 488
WATER MGMNT , 1879
ANIMAL CONTRL , 81
TREASURER , 22
CITY CLERK , 84
DoIT , 99
GENERAL SERVICES , 980
POLICE BOARD , 2
PUBLIC LIBRARY , 1015
HUMAN RESOURCES , 79
STREETS & SAN , 2198
LAW , 407
FAMILY & SUPPORT , 615
DISABILITIES , 28
BUDGET & MGMT , 46
ADMIN HEARNG , 39
CULTURAL AFFAIRS , 65
AVIATION , 1629
OEMC , 2102
POLICE , 13414
TRANSPORTN , 1140
MAYOR'S OFFICE , 85
BUILDINGS , 269
FIRE , 4641
BUSINESS AFFAIRS , 171
COPA , 116
LICENSE APPL COMM , 1
CITY COUNCIL , 411
BOARD OF ELECTION , 107
INSPECTOR GEN , 87
COMMUNITY DEVELOPMENT , 207

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [21]:
# Your code here:
from scipy.stats import ttest_1samp
hourly = salaries['Hourly Rate'].loc[salaries['Salary or Hourly']=='Hourly']
ttest_1samp(hourly,30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [31]:
# Your code here:
#salaries 2019 > salarie mean 2018 =>86000 pour une année
#j'ai besoin du salaire moyen de 2019 pour comparaison
#

police_force = salaries.loc[salaries['Department']=='POLICE']
police_force = police_force.loc[police_force['Salary or Hourly']=='Salary']
#salary_2019 = police_force['Annual Salary'].mean() =>86486.41450313339
salary_2019 = police_force['Annual Salary']
ttest_1samp(salary_2019,86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [54]:
# Your code here:
#foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
#>>> bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
#>>> crosstab(foo, bar)

cross = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'],margins=False) 
cross

most = cross.loc[cross['Hourly']==cross['Hourly'].max()]
most

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [56]:
STREETS = salaries.loc[(salaries['Department']=='STREETS & SAN')&(salaries['Salary or Hourly']=='Hourly')]
#STREETS

In [57]:
# Your code here:
#hourly wage is less than $35/hour.
ttest_1samp(STREETS['Hourly Rate'],35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [61]:
hourly2= salaries.loc[salaries['Salary or Hourly']=='Hourly']
hourly2

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,NaN,20.00
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
40,"ABRAMS, TIFFANY",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
42,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,44.88
48,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
52,"ABUHASHISH, AWWAD",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
56,"ACCARDI, JOHNNA L",EQUIPMENT DISPATCHER,AVIATION,F,Hourly,40.0,NaN,36.22
57,"ACCARDO, ANTHONY D",CONSTRUCTION LABORER,AVIATION,F,Hourly,40.0,NaN,40.20
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
77,"ACEVEDO, JAVIER",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,40.20
87,"ACEVEDO, STEVEN A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,32.04
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
95,"ACKLIN, QIANA D",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
96,"ACOSTA, CESAR I",STEAMFITTER,WATER MGMNT,F,Hourly,40.0,NaN,47.50
99,"ACOSTA, JORGE",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
108,"ACRES, ANTHONY E",LABORER,GENERAL SERVICES,F,Hourly,40.0,NaN,40.20
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
112,"ADAMCZYK JR, JAN",BOOTER - PARKING,FINANCE,F,Hourly,40.0,NaN,32.25
115,"ADAME, JORGE A",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
...,...,...,...,...,...,...,...,...
33079,"ZIELINSKI, THEODORE J",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33080,"ZIEMANN, DAVID M",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33081,"ZIEMANN, DONALD W",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33087,"ZIENTARSKI, DAVID A",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
33090,"ZIMMERMAN, EDWARD A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33094,"ZINCHUK, BRIAN C",OPERATING ENGINEER-GROUP A,WATER MGMNT,F,Hourly,40.0,NaN,47.44
33103,"ZIVAT, MICHAEL",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33104,"ZIZUMBO, DANIEL",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33108,"ZIZZO, RUSS D",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33112,"ZOCHOWSKI, DAVID J",OPERATING ENGINEER-GROUP C,AVIATION,F,Hourly,40.0,NaN,45.07
33120,"ZOLTEK, JOHN J",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
33128,"ZOVKO, RICHARD A",HOISTING ENGINEER - MECHANIC,GENERAL SERVICES,F,Hourly,40.0,NaN,52.10
33132,"ZUBECK, JOHN",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33135,"ZUCCARELLI, ROBERT A",BRIDGE AND STRUCTURAL IRON WORKER,TRANSPORTN,F,Hourly,40.0,NaN,46.20
33136,"ZUCKER, MICHAEL J",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33145,"ZUMARAS, ROLAND A",AIRPORT MAINTENANCE FOREMAN,AVIATION,F,Hourly,40.0,NaN,35.57
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33150,"ZUNIGA JR, JAMES",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,23.31
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [75]:
# Your code here:
#the mean hourly wage of all hourly workers
from scipy.stats import t
#t.interval #The confidence interval 

A = stats.t.interval(0.95, len(hourly2)-1, loc=np.mean(hourly2['Hourly Rate']), scale=stats.sem(hourly2['Hourly Rate']))
A

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [76]:
# Your code here:
salary2= salaries.loc[salaries['Salary or Hourly']=='Salary']
B = stats.t.interval(0.95, len(salary2)-1, loc=np.mean(salary2['Annual Salary']), scale=stats.sem(salary2['Annual Salary']))
B

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
"""
    count (integer or array_like) – the number of successes in nobs trials. If this is array_like, then the assumption is that this represents the number of successes for each independent sample
    nobs (integer or array-like) – the number of trials or observations, with the same length as count.
    value (float, array_like or None, optional) – This is the value of the null hypothesis equal to the proportion in the case of a one sample test. In the case of a two-sample test, the null hypothesis is that prop[0] - prop[1] = value, where prop is the proportion in the two samples. If not provided value = 0 and the null is prop[0] = prop[1]
    alternative (string in ['two-sided', 'smaller', 'larger']) – The alternative hypothesis can be either two-sided or one of the one- sided tests, smaller means that the alternative hypothesis is prop < value and larger means prop > value. In the two sample test, smaller means that the alternative hypothesis is p1 < p2 and larger means p1 > p2 where p1 is the proportion of the first sample and p2 of the second one.
    prop_var (False or float in (0, 1)) – If prop_var is false, then the variance of the proportion estimate is calculated based on the sample proportion. Alternatively, a proportion can be specified to calculate this variance. Common use case is to use the proportion under the Null hypothesis to specify the variance of the proportion estimate.

"""

In [92]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
test = salary_count+hourly_count

proportions_ztest(hourly_count, test, value=0.25, alternative='two-sided', prop_var=False)

(-3.5099964213703005, 0.0004481127249057967)